body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background: #edeff4;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    padding-left: 4px;
    padding-right: 4px;
    background: #edeff4;
    height: 500px;
}

.logo {
    background: #808080;
    height: 70px;
}

#burger {
    display: block;
    position: absolute;
    z-index: 1;
    margin: 20px;
}

#burger:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.social {
    float: right;
    margin: 3px;
}

.facebook {
    display: inline-block;
}

.facebook img {
    width: 20px;
    height: 20px;
}

.instagram {
    display: inline-block;
}

.instagram img {
    width: 20px;
    height: 20px;
}



nav a{
    background: gray;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    
    border-bottom: 1px solid #cecece;
    font-weight: bold;
}

.slika-logo {
    display:flex;
    width: 130px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 8px;
}



.slika-naslovna-img {
    width: 100%;
    filter: grayscale(40%);
}

.vest  {
    color: white;
    text-align: center;
    height: 35vw;
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    z-index: 0;
    position: relative;
    margin-top: 8vw;
    margin-bottom: 5vw;
    border-radius: 3%;
    
}

.vest1slika {
    display:block;
    width: 60vw;
    height: 35vw;
    object-fit:cover;
    z-index:0;
    filter: grayscale(60%);
    transition: 0.5s;
    border-radius: 3%;
}

.vest-central {
    position: absolute;
    top:13vw;
    left:0;
    z-index: 1;
}



a {
    text-decoration: none;
}


.vest1naslov {
    margin:0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    text-align: center;
    z-index: 10;
    padding: 3px;

}



.vest-decoration {
    font-weight: bold;
}

.vest-decoration img {
    
    width: 5vw;
    height: 5vw;
    top: 1.5vw;
    position: relative;
}

.vest-decoration p{
    color: white;
    display: inline-block;
}

.vest1slika:hover{
    filter: none;
    position: relative;
    z-index: 1;
}


.vest:hover .vest1slika{
    filter:none;
    transform: scale(1.02);
}

.igraci {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 12px;
    border-top: 1px solid gray;
    padding-top: 5vw;
    text-align: center;
}

.igraci  a img {
    width: 55vw;
    height: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.igraci h1 {
    color: gray;
    position: relative;
    bottom: 3vw;
    font-size: 3vw;
}

.igraci a img:hover{
    transform: scale(1.02);
    position: relative;
    z-index: 1;
}

.video {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 12px;
    border-top: 1px solid gray;
    padding-top: 5vw;
    text-align: center;
    
}

.video a img {
    width: 20vw;
    height: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.video h1 {
    color: gray;
    position: relative;
    bottom: 3vw;
    font-size: 3vw;
}

.video a img:hover{
    transform: scale(1.02);
    position: relative;
    z-index: 1;
}

.table {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    z-index: 0;
    position: relative;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 12px;
    border-top: 1px solid gray;
    padding-top: 5vw;
}




.table table {
    width: 100%;
    text-align: center;
    border-radius:6px;
    -moz-border-radius:6px;
}

.logo-table {
    display: inline-block;


}

.logo-table img {
    width: 24px;
    height: 24px;
}

.ime-table {
    display: inline-block;
    position: relative;
    bottom: 5px;
}

.naziv-tima {
    text-align: left;
}

.odd {
    background: #cecece;
}

.even {
    background:#e2e2e2;
}

.first {
    background: #9ec8e8;
}
thead {
    background: #808080;
    color: white;
}

thead th:first-child {
    border-radius: 10px 0 0 0;
}
thead th:last-child {
    border-radius: 0 10px 0 0;
}

tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tbody tr:last-child th:last-child {
    border-radius: 0 0 10px 0;
}


@media (min-width: 800px) {

    .slika-logo {
        margin-left: 30px;
        height: 170px;
        width: 180px;

    }

    #burger {
        display: none;
    }
    
.navigacija {
    height: 50px;
}

    .hide {
        display: flex;
        margin-left: 220px;
        height: 60px;
    }

    nav a{
        display: inline;
    }

    

}